body{
	background-color: black;
	background-size: cover;
	font-family: verdana;
	animation: animate 5s ease-in-out infinite;
}
@keyframes animate{
	0%,100%{
		background-image:url(C:\Front_end_development\Front_end-_development/CharlesBabbage.jpg);
	}
	25%{
		background-image:url(C:\Front_end_development\Front_end-_developmentimg/APJ.jpg); 
	}
	50%{
		background-image: url(C:\Front_end_development\Front_end-_development/Abdulkalam.jpg);
	}
	75%{
		background-image:url(C:\Front_end_development\Front_end-_development/CharlesBabbage.jpg);
	}
}

header{
	position:absolute;
	width:100%;
}
.heading h1{
	font-size: 40px;
	color:#cad3db;
	text-align:center;
	margin-top:8%;
	margin-right:18%;
	position:fixed;
}
ul{
	list-style: none;
	padding: 0;
	text-align: right;
}
ul li{
	display:inline-block;
	padding: 15px;
	font-size: 18px;
	margin-top:0%;
	color:#cad3db;
	text-transform: uppercase;
	text-align: right; 
}